body {background-color: #d1548c;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 15px;
    background-image: url("../image/655401.jpg");
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    }
nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;
    background-color: #d1548c;
    padding: 10px 20px;
    color: black;
    font-size: larger;
    border-radius: 50px;
    border: 5px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);

}

nav a:hover {
    color: black; 
    background-color: white;
}

.icone{
    height:100px;
    width:100px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border:3px solid black;
}
nav a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
}
#recherche {
    margin-left: auto;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Science Gothic", sans-serif;
    color: black;
}
.trait {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}
.text {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;

}
.pics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px; 
    gap: 5px;
    text-align: center;
}

.item {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 5px solid black;
}
.item2 {
    background-size: 150px;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item1 {
    grid-column: span 1;
    grid-row: span 2;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
        border: 5px solid black;    
}
.item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.item3 {
    grid-column: span 2;
    grid-row: span 1;
    overflow: hidden;
    position: relative;
    border-radius: 10px; 
    border: 5px solid black;
   
}
.item3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



footer {
    background-color: white   ;
    height: 70px;
    width: 100%;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}
footer a{
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
}

footer a:hover{
    background-color: black;
    color: white;
}
#personnage{
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap:50px;
}

#introp{
    font-size: xx-large;
    text-align: center;
    
}

.personnage{
    font-size: large;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.personnage:hover {
    color: black; 
    background-color: white;
}

.text{
    text-align: center;
    font-size: xx-large;
    border: 2px solid black;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
}