body {background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 15px;
    background-image: url("image/387102.jpg");
    background-size: cover;
    background-attachment: fixed; /* reste fixe quand on scroll */
    background-position: center;
    background-repeat: no-repeat;
    }
nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;
    background-color: #473e93;
    padding: 10px 20px;
    color: black;
    font-size: larger;
    border-radius: 50px;
    border: 5px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.fusion1 {
    display: block;
    margin:0 auto;
    width: 600px;
    height: 600px;
}

nav a:hover {
    color: #4dba7a; 
    background-color: #ceaf7e  ;
}

.icone{
    height:100px;
    width:100px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border:3px solid black;
}
nav a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
}
#recherche {
    margin-left: auto;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer {
    background-color: #27564e;
    height: 70px;
    width: 100%;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}
footer a{
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
}

footer a:hover{
    background-color: blue;
    color: orange;
}
#personnage{
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap:50px;
}

#introp{
    font-size: xx-large;
    text-align: center;
    
}

.personnage{
    font-size: large;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.personnage:hover {
    color: orange; 
    background-color: blue;
}

.logo {
    width: 55px;
    height: 45px;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Science Gothic", sans-serif;
    color: #b9150b;
}
.trait {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}