@media (max-width: 2560px){
    main img{
        width: 50%;
        height: auto;
    }

    nav img.icone {
        width: 12%; 
        height: auto;
    }

    details, details #ww{
        font-size: larger;
    }
    
    #personnage .personnage, .textehaut, footer a{
        font-size: xx-large;
        padding: 15px 25px;
    }
}

@media (max-width: 1440px){
    main img{
        width: 40%;
        height: auto;
    }

    #gotenks{
        width: 40%;
        height: auto;
    }

    nav img.icone {
        width: 10%; 
        height: auto;
    }

    #presentation{
        font-size: medium;
        padding: 12px 20px;
    }

    details, details #ww{
        font-size: medium;
    }
    
    #personnage .personnage, .textehaut, footer a{
        font-size: large;
        padding: 12px 20px;
    }
}

@media (max-width: 1024px){
    main img{
        width: 70%;
        height: auto;
    }

    #gotenks{
        width: 70%;
        height: auto;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    #personnage{
        flex-direction: column;
        gap: 20px;
    }

    .duo, #retrouvable{
        width: 90%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    #presentation{
        font-size: medium;
        padding: 10px 15px;
    }

    #personnage .personnage{
        font-size: medium;
        padding: 10px 20px;
    }
}

@media (max-width: 425px){
    main img{
        width: 100%;
        height: auto;
    }

    nav img.icone {
        width: 25%;
    }

    #presentation{
        font-size: small;
        padding: 8px 10px;
    }

    #personnage .personnage{
        font-size: small;
        padding: 8px 10px;
    }
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;
    background-color: grey;
    padding: 15px 25px;
    color: black;
    font-size: larger;
    border-radius: 50px;
    border: 5px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.icone{
    height: 120px;
    width: 120px;
    border-radius: 50px;
    border:3px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

nav a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 15px 25px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

nav a:hover {
    color: orange; 
    background-color: blue;
}

#recherche {
    margin-left: auto;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

main {
    text-align: center;
    margin-top: 50px;
}

#presentation, #presentation1 {
    display: inline-block;
    font-size: xx-large;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 15px 25px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

#gokuimg, #ssj3 {
    border:5px solid black;
    border-radius: 150px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    max-width: 100%;
    height: auto;
}

#gotenks{
    border:5px solid black;
    border-radius: 150px;
    background-color: white;
    background-image: url("../image/Dbz24229_20120404-16203381.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
#gohan{
    border:5px solid black;
    border-radius: 150px;
    background-color: white;
    background-image: url("../image/397ee2b2c25ebca89bf5698c8e56cbd8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}


#ssj3{
    background-position: bottom;
}

#gotenks{
    background-position: center 25%;
}

.duo, #retrouvable{
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    margin: 15px;
}

body{
    background-color: slategray;
}

details{
    margin: 100px;
}

#wow{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#gogeta{
    margin: 50px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

details video{
    border:2px solid black;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

#personnage{
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap:50px;
    flex-wrap: wrap;
}

#introp{
    font-size: xx-large;
}

.personnage{
    font-size: large;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 25px;
    color: black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.personnage:hover {
    color: black; 
    background-color: white;
}

footer {
    background-color: grey;
    height: 70px;
    width: 100%;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}

#ww{
    font-size: large;
    text-align: center;
}

.videos {
    display: flex;
    gap: 20px;       
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

#jsp{
    border:5px solid black;
    border-radius: 50px;
    padding: 20px;
}

#jsp:hover{
    color: black;
    background-color: white;
}

footer a{
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px 20px;
}

footer a:hover{
    background-color: white;
    color: black;
}

#home, #goku{
    background-color: black;
    color:white;
}

#presentationgoku{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

div details{
    border: 2px solid black;
    padding:20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

div details:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

details p, ul li{
    text-align: left;
}

#goku4, #gokussj, #namekien{
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

#deuximages {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
