body {background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 15px;
    background-image: url("../image/0452c39ab81eade986637cf71d2bbe17.jpg");
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    }
nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;
    background-color: #3a9878;
    padding: 10px 20px;
    color: black;
    font-size: larger;
    border-radius: 50px;
    border: 5px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);

}

nav a:hover {
    color: #4dba7a; 
    background-color: #ceaf7e  ;
}

.icone{
    height:100px;
    width:100px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border:3px solid black;
}
nav a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
}
#recherche {
    margin-left: auto;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Science Gothic", sans-serif;
}
.Vegeta1 {
    display: block;
    margin:0 auto;
    width: 600px;
    height: 600px;
}
.insigneroyauté {
    width: 35px;
    height: 35px;
}
.service {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.trait {
    width: 100%;
    height: 1px;
    background-color: #3a9878;
    margin: 20px 0;
}
.présentation_1 {
    margin: 0;
    padding: 0;
}
.conteneur {display: flex;
    justify-content: space-evenly;
    gap: 30px;
    text-align: center
    }
.bloc {
    padding: 20px;
    border-radius: 10px;
    border: 5px solid black;
    flex: 1;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    font-size: 20px;
    }
strong{
    font-family: "Science Gothic", sans-serif;
    font-size: 20px;
}
.bloc2 {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    flex: 1;
    text-align: center;
    border: 5px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border-radius: 50px;
    }

summary:hover {
    cursor: pointer;
}
.goat{
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
footer {
    background-color: #3a9878;
    height: 70px;
    width: 100%;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}
footer a{
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
}

footer a:hover{
    background-color: blue;
    color: orange;
}
#personnage{
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap:50px;
}

#introp{
    font-size: xx-large;
    text-align: center;
    
}

.personnage{
    font-size: large;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.personnage:hover {
    color: orange; 
    background-color: blue;
}